In [1]:
import numpy as np
import pandas as pd

In [2]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [4]:
match.shape

(1095, 20)

In [5]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
total_score_df = delivery.groupby(['match_id','inning'])['total_runs'].sum().add(1).reset_index()

In [7]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

In [8]:
total_score_df

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2207   1426307       1         215
2209   1426309       1         160
2211   1426310       1         173
2213   1426311       1         176
2215   1426312       1         114

[1095 rows x 3 columns]

In [9]:
match_df = match.merge(total_score_df[['match_id', 'total_runs']],left_on='id', right_on='match_id')

In [10]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,215
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,160
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,173
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,176
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,114

In [11]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [12]:
teams = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore', 'Delhi Capitals', 'Chennai Super Kings', 'Mumbai Indians', 'Rajasthan Royals', 'Punjab Kings', 'Kolkata Knight Riders', 'Gujarat Titans', 'Lucknow Super Giants']

In [13]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')

In [14]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [15]:
match_df.shape

(965, 22)

In [16]:
match_df = match_df[['id', 'city','winner','total_runs']]

In [17]:
delivery_df = match_df.merge(delivery, left_on='id', right_on='match_id')

In [18]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [19]:
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230278,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230279,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230280,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
230281,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [20]:
delivery.shape

(260920, 17)

In [21]:
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [22]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [23]:
delivery_df['balls_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])

In [24]:
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,0,1,NaN,0,NaN,NaN,NaN,110,4,61
230278,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,0,1,NaN,0,NaN,NaN,NaN,111,3,60
230279,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,0,1,NaN,0,NaN,NaN,NaN,112,2,59
230280,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,0,1,NaN,0,NaN,NaN,NaN,113,1,58
230281,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,0,1,NaN,0,NaN,NaN,NaN,114,0,57

In [25]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets_left = delivery_df.groupby('match_id')['player_dismissed'].cumsum()
delivery_df['wickets_left'] = 10 - wickets_left
delivery_df.head()

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
124,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,1,NaN,0,0,NaN,NaN,1,222,119,10
125,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,wides,0,0,NaN,NaN,2,221,118,10
126,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,NaN,0,0,NaN,NaN,2,221,117,10
127,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,1,NaN,0,0,NaN,NaN,3,220,116,10
128,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,1,NaN,0,0,NaN,NaN,4,219,115,10

In [26]:
delivery_df['current_run_rate'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [27]:
delivery_df.tail()

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,current_run_rate
230277,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,NaN,0,0,NaN,NaN,110,4,61,8,11.186441
230278,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,NaN,0,0,NaN,NaN,111,3,60,8,11.100000
230279,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,NaN,0,0,NaN,NaN,112,2,59,8,11.016393
230280,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,NaN,0,0,NaN,NaN,113,1,58,8,10.935484
230281,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,NaN,0,0,NaN,NaN,114,0,57,8,10.857143

In [28]:
delivery_df['required_run_rate'] = (delivery_df['runs_left']*6)/(delivery_df['balls_left'])

In [29]:
delivery_df

,id,city,winner,total_runs_x,match_id,inning,batting_team,bowling_team,over,ball,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,current_run_rate,required_run_rate
124,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,0,NaN,NaN,1,222,119,10,6.000000,11.193277
125,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,0,NaN,NaN,2,221,118,10,6.000000,11.237288
126,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,NaN,2,221,117,10,4.000000,11.333333
127,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,0,NaN,NaN,3,220,116,10,4.500000,11.379310
128,335982,Bangalore,Kolkata Knight Riders,223,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,0,NaN,NaN,4,219,115,10,4.800000,11.426087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230277,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,0,0,NaN,NaN,110,4,61,8,11.186441,0.393443
230278,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,0,0,NaN,NaN,111,3,60,8,11.100000,0.300000
230279,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,0,0,NaN,NaN,112,2,59,8,11.016393,0.203390
230280,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,0,0,NaN,NaN,113,1,58,8,10.935484,0.103448
230281,1426312,Chennai,Kolkata Knight Riders,114,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,0,0,NaN,NaN,114,0,57,8,10.857143,0.000000

In [30]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [31]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [32]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','current_run_rate','required_run_rate','result']]

In [33]:
final_df = final_df.sample(final_df.shape[0])

In [34]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_run_rate,required_run_rate,result
134942,Kolkata Knight Riders,Rajasthan Royals,Kolkata,97,89,8,143,8.903226,6.539326,1

In [35]:
final_df.dropna(inplace=True)

In [36]:
final_df = final_df[final_df['balls_left'] != 0]

In [37]:
X= final_df.iloc[:, :-1]
y= final_df.iloc[:, -1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [38]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,current_run_rate,required_run_rate
207241,Sunrisers Hyderabad,Delhi Capitals,Hyderabad,11,5,4,145,6.991304,13.200000
222646,Rajasthan Royals,Kolkata Knight Riders,Kolkata,108,53,6,224,10.388060,12.226415
188487,Lucknow Super Giants,Royal Challengers Bangalore,Mumbai,169,108,10,182,6.500000,9.388889
3523,Royal Challengers Bangalore,Chennai Super Kings,Bangalore,28,14,3,179,8.547170,12.000000
78651,Rajasthan Royals,Mumbai Indians,Mumbai,17,3,3,167,7.692308,34.000000
...,...,...,...,...,...,...,...,...,...
130489,Delhi Daredevils,Chennai Super Kings,Pune,156,88,8,212,10.500000,10.636364
18607,Kings XI Punjab,Royal Challengers Bangalore,Durban,15,8,5,146,7.017857,11.250000
121998,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,96,84,9,139,7.166667,6.857143
106421,Royal Challengers Bangalore,Kings XI Punjab,Chandigarh,97,112,10,107,7.500000,5.196429
221637,Delhi Capitals,Lucknow Super Giants,Lucknow,112,86,9,168,9.882353,7.813953

In [39]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False, drop='first'), ['batting_team','bowling_team','city'])
    ]
    , remainder='passthrough')

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [41]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
     ])

In [42]:
pipe.fit(X_train, y_train)

C:\Users\Dell\AppData\Roaming\Python\Python313\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [43]:
y_pred = pipe.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8077070002865055

In [45]:
teams

['Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Punjab Kings',
 'Kolkata Knight Riders',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [46]:
delivery_df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Bengaluru', 'Indore', 'Dubai', 'Sharjah', 'Navi Mumbai',
       'Lucknow', 'Guwahati', 'Mohali'], dtype=object)

In [47]:
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))